{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/create.css' %}">
</head>
{% include 'blog/snippets/header.html'%}
<body>
    <main>
        <!-- <small>{{request.user.username}}</small> -->
        {% if request.user.is_authenticated != False%}
            <form action=""  enctype=“multipart/from-data” method="post">
                {% csrf_token %}
                <label for="title">Title for your post: </label>
                <input type="text" name="post_title" id="title">
                <br>
                <label for="title">Publishing date for your post: </label>
                <input type="date" name="pub_date" id="publishing_date">
                <br>
                <label for="id_post_image">Image for your post (optional):</label>
                <input type="file" name="post_image" accept="image/*" id="id_post_image">
                <br>
                <label for="content" id="content-label">Write your post :</label><br>
                <textarea name="post_text" id="content" cols="40" rows="10"></textarea>
                <br>
                <div id="btn-holder">
                    <input type="submit" value="Post" id="submit-btn">
                </div>
            </form>
        {% else %}
            <h2>Please Login or Signup for Adding Blog</h2>
        {% endif %}
    </main>
</body>
{% include 'blog/snippets/footer.html' %}
</html>