{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.post_title}} | Post {{post.id}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/detail.css' %}">
</head>
{% include 'blog/snippets/header.html'%}
<body>
    <main>
        <div class="post-title">{{post.post_title}}</div>
        <div class="post-author">{{post.post_author}}</div>
        <div class="date-published">{{post.pub_date}}</div>
        <div class="post_text">{{post.post_text}}</div>
    </main>
</body>
{% include 'blog/snippets/footer.html' %}
</html>