{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.post_title}} | Post {{post.id}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/detail.css' %}">
</head>
{% include 'blog/snippets/header.html'%}
<body>
    <main>
        <div class="post-title">{{post.post_title}}</div>
        <div class="post-author">{{post.post_author}}</div>
        <div class="date-published">{{post.pub_date}}</div>
        <!-- Likes Section -->
        <section class="view-likes">
            {{numberOfLikes}} Likes
        </section>
        {% if post.post_author == request.user.username %}
            <ul id="editordelete">
                <li><a href="/{{post.id}}/edit">Edit</a></li>
                <li><a href="/{{post.id}}/delete">Delete</a></li>
            </ul>
        {% endif %}
        {% if post.post_image.url is not None %}
            <div class="img-container">
                <img src="{{post.post_image.url}}" alt="post image">
            </div>
        {% endif %}
        {% if post.post_author != request.user.username %}
            {% if request.user.is_authenticated %}
                <form action="" method="post" id="liking-form">
                    {% csrf_token %}
                    <input type="submit" value="👍" name="like">
                    <input type="submit" value="👎" name="dislike">
                </form>
            {% endif %}
        {% endif %}
        <div class="post_text">{{post.post_text}}</div>
        <section class="comments">
            {% if request.user.is_authenticated %}
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="comment_text">Add Comment</label>
                    <div class="holder">
                        {{form.comment_text}}
                        <input type="submit" value="Comment" name = "comment" id="submit-btn">
                    </div>
                </form>
            {% endif %}
            <div class="viewcomments">
                {% for comment in all_comments %}
                    <div class="comment-holder">
                        <div class="comment-text">
                            <p> {{comment.comment_text}} </p>
                        </div>
                        <div class="comment-user">
                            <h3>By {{comment.comment_user}}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
{% include 'blog/snippets/footer.html' %}
</html>