{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/signup.css' %}">
</head>
{% include 'blog/snippets/header.html' %}
<body>
    <main>
            <form action="" method="post">
                {% csrf_token %}
                {% for message in messages %}
                    <center><p class="messages" style="color: red;font-size: 0.7rem;">{{message}}</p></center>
                {% endfor %}
                <div class="holder">
                    {{form.username.label}}
                    {{form.username}}
                    {% for error in form.username.errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="holder">
                    {{form.password.label}}
                    {{form.password}}
                    {% for error in form.password.errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="holder">
                    {{form.email.label}}
                    {{form.email}}
                    {% for error in form.email.errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="holder">
                    {{form.first_name.label}}
                    {{form.first_name}}
                    {% for error in form.first_name.errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="holder">
                    {{form.last_name.label}}
                    {{form.last_name}}
                    {% for error in form.last_name.errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="holder">
                    <input type="submit" value="Submit" id="submit-btn">
                </div>
            </form>
    </main>
</body>
{% include 'blog/snippets/footer.html' %}
</html>