*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main{
    padding: 15px 20vw;
}
.post-title{
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: rgb(9, 41, 68);
}
.post-author{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
.date-published{
    font-family: sans-serif;
    margin-bottom: 20px;
}
.post_text{
    font-family: sans-serif;
    font-size: 1rem;
}
@media screen and (max-width: 574px){
    main{
        padding: 10px 5vw;
    }
    #content{
        width: 95%;
    }
}
form {
    margin: 20px 0px;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
}

form label{
    font-size: 1rem;
    font-weight: 800;
    margin: auto;
}
form .holder{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}
.holder input{
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(231, 242, 248);
}
#submit-btn{
    flex: 0;
    margin: auto;
    border: none;
    background-color: #4af;
    color: rgb(231, 242, 248);
    font-weight: 600;
    padding: 10px 20px;
    max-width: 200px;
    flex: 0;
    font-size: 1rem;
    border-radius: 0 10px 10px 0;
}
.comment-holder{
    background-color: rgb(231, 242, 248);
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;
    font-family: sans-serif;
    flex-direction: column;
}
.comment-text p{
    font-size: 1rem;
}
.comment-user h3{
    font-weight: 600;
    font-size: 0.8rem;
}
#liking-form{
    display : flex;
    flex-direction: row;
}
#liking-form input{
    width: fit-content;
    border: none;
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.view-likes{
    margin-bottom: 15px;
}
.img-container{
    overflow: none;
    margin: 15px auto;
    justify-content: center;
    display: flex;
    max-width: fit-content;
    justify-content: center;
    flex-direction: column;
}
.img-container img{
    max-width: 500px;
    height: fit-content;
    border-radius: 10px;
}
@media screen and (max-width:574px){
    .img-container img{
        max-width: 350px;
        height: fit-content;
    }            
}
#editordelete{
    display: flex;
    margin-bottom: 15px;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
}
#editordelete li{
    flex: 1;
    max-width: 100px;
    text-align: center;
    color: cornflowerblue;
}
#editordelete li a{
    text-decoration: none;
    background-color: #4af;
    color: azure;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 10px;
}