*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    padding: 15px 20vw;
}
@media screen and (max-width: 574px){
    main{
        padding: 10px 5vw;
    }
}
/* Nav bar */
nav{
    width: 100%;
    background-color: #4af;
    padding: 15px 20vw;
    color: rgb(232, 245, 252);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li{
    flex: 1;
    text-align: center;
}
nav ul li a{
    color: rgb(231, 242, 248);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
/* Post box */
.post-holder{
    background-color: rgb(231, 242, 248);
    padding: 15px;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 10px;
}
.post-title h2{
    font-family: sans-serif;
    color: rgb(9, 41, 68);
    font-size: 1.7rem;
    font-weight: 800;
}
.post-author h3{
    color: rgb(27, 46, 61);
    font-size: 0.9rem;
    font-weight: 600;
    margin: 10px 0px;
}
.post-holder a{
    text-decoration: none;
    color: rgb(14, 36, 133);
}

.paginator-btn{
    font-size: 1.2rem;
    color: rgb(232, 245, 252);
    background-color:#4af;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 600;
    font-family: sans-serif;
}

center{
    margin-bottom: 20px;
}

#current-page{
    font-size: 1.5rem;
    font-family: sans-serif;
}

.page-number{
    margin: 0px 10px ;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(72, 87, 114);
}
.active{
    font-size: 1.5rem;
    color: rgb(4, 35, 83);
    font-family: sans-serif;
    text-decoration: none;

}
.disable{
    background-color: rgb(211, 232, 248);
    color: black;
}